In [1]:
import pandas as pd

In [2]:
df_ans = pd.read_csv("../preprocess_test_data.csv",index_col=0)
df_ans['text_clean'] = df_ans['text_clean'].fillna('neutral')
df_ans.head()

,_id,text,text_clean
0,60c5d6bf5659ea5e55deffcb,Fewer people coming in for vaccinations. So sa...,fewer peopl come vaccin sad nurs covidvaccin vumc
1,60c5d6bf5659ea5e55df028c,@MattHancock This may all be true. But... What...,may true piss big dom
2,60c5d6bf5659ea5e55def377,@Layla_EFC I’ve unfollowed him the wanker,unfollow wanker
3,60c5d6bf5659ea5e55def4c7,You guys are losing it all over the world. The...,guy lose world jung label islamophobia
4,60c5d6bf5659ea5e55df01a6,"And thus death laughs... It is sad merriment, ...",thus death laugh sad merriment still covid ind...

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidfconverter = TfidfVectorizer(max_features=2000, min_df=2)
X_test = tfidfconverter.fit_transform(df_ans['text_clean']).toarray()

In [4]:
import pickle
kn1= pickle.load(open('best_KN_model1.sav', 'rb'))
lr1= pickle.load(open('best_LR_model1.sav', 'rb'))
nb1= pickle.load(open('best_NB_model1.sav', 'rb'))
rf1= pickle.load(open('best_RF_model1.sav', 'rb'))
svm1= pickle.load(open('best_SVM_model1.sav', 'rb'))

In [5]:
X_test = X_test[:,:1741]

In [7]:
def transform(res):
    for i in range(len(res)):
        if (res[i] == 'HOF'):
            res[i]= 0
        else:
            res[i]= 1
    return res

In [16]:
pred_df = pd.DataFrame() 
pred_kn = kn1.predict(X_test)
pred_kn=transform(pred_kn)
pred_df['KNeighbours'] = pred_kn
pred_rft =rf1.predict(X_test)
pred_rft=transform(pred_rft)
pred_df['RandomForest'] = pred_rft
pred_svm =svm1.predict(X_test)
pred_svm=transform(pred_svm)
pred_df['SVM'] = pred_svm

In [8]:
pred_kn=transform(pred_kn)
pred_kn[:10]

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0], dtype=object)

In [9]:
pred_rft=transform(pred_rft)
pred_rft[:10]

array([0, 0, 0, 1, 0, 0, 0, 1, 0, 1], dtype=object)

In [10]:
pred_svm=transform(pred_svm)
pred_svm[:10]

array([0, 1, 1, 1, 0, 0, 1, 1, 0, 0], dtype=object)

In [11]:
pred_kn.tolist().count(1),pred_rft.tolist().count(1),pred_svm.tolist().count(1)

(299, 540, 528)

In [12]:
df_ans = df_ans.drop(['text','text_clean'],axis=1)
df_ans = df_ans.reset_index()
df_ans = df_ans.drop(['index'],axis=1)
df_ans.head()

                        _id
0  60c5d6bf5659ea5e55deffcb
1  60c5d6bf5659ea5e55df028c
2  60c5d6bf5659ea5e55def377
3  60c5d6bf5659ea5e55def4c7
4  60c5d6bf5659ea5e55df01a6

In [13]:
df_ans['label'] = pd.Series(pred_rft)
df_ans.to_csv('tfidf_rft.csv',index=False)
df_ans.head(20)

                         _id label
0   60c5d6bf5659ea5e55deffcb     0
1   60c5d6bf5659ea5e55df028c     0
2   60c5d6bf5659ea5e55def377     0
3   60c5d6bf5659ea5e55def4c7     1
4   60c5d6bf5659ea5e55df01a6     0
5   60c5d6bf5659ea5e55def837     0
6   60c5d6bf5659ea5e55def6ec     0
7   60c5d6bf5659ea5e55def29e     1
8   60c5d6bf5659ea5e55defa01     0
9   60c5d6bf5659ea5e55def464     1
10  60c5d6bf5659ea5e55df020f     1
11  60c5d6bf5659ea5e55defb48     1
12  60c5d6bf5659ea5e55def1a8     0
13  60c5d6bf5659ea5e55defc80     0
14  60c5d6bf5659ea5e55defc3e     0
15  60c5d6bf5659ea5e55def2e2     0
16  60c5d6bf5659ea5e55defbd6     0
17  60c5d6bf5659ea5e55defc41     0
18  60c5d6bf5659ea5e55df0176     1
19  60c5d6bf5659ea5e55df027b     0

In [14]:
df_ans['label'] = pd.Series(pred_svm)
df_ans.to_csv('tfidf_svm.csv',index=False)
df_ans.head(20)

                         _id label
0   60c5d6bf5659ea5e55deffcb     0
1   60c5d6bf5659ea5e55df028c     1
2   60c5d6bf5659ea5e55def377     1
3   60c5d6bf5659ea5e55def4c7     1
4   60c5d6bf5659ea5e55df01a6     0
5   60c5d6bf5659ea5e55def837     0
6   60c5d6bf5659ea5e55def6ec     1
7   60c5d6bf5659ea5e55def29e     1
8   60c5d6bf5659ea5e55defa01     0
9   60c5d6bf5659ea5e55def464     0
10  60c5d6bf5659ea5e55df020f     0
11  60c5d6bf5659ea5e55defb48     1
12  60c5d6bf5659ea5e55def1a8     1
13  60c5d6bf5659ea5e55defc80     1
14  60c5d6bf5659ea5e55defc3e     0
15  60c5d6bf5659ea5e55def2e2     0
16  60c5d6bf5659ea5e55defbd6     0
17  60c5d6bf5659ea5e55defc41     0
18  60c5d6bf5659ea5e55df0176     1
19  60c5d6bf5659ea5e55df027b     0

In [17]:
pred_df['res'] = pred_df.mode(axis=1)[0].astype(int)
pred_df.head()
res = pred_df['res'].tolist()

In [18]:
pred_df.head()

  KNeighbours RandomForest SVM  res
0           0            0   0    0
1           0            0   1    0
2           0            0   1    0
3           0            1   1    1
4           0            0   0    0

In [19]:
for i in range(len(res)):
    if (res[i] == 0):
        res[i]='HOF'
    else:
        res[i]='NOT'

In [20]:
df_ans['label'] = pd.Series(res)
df_ans.head()

                        _id label
0  60c5d6bf5659ea5e55deffcb   HOF
1  60c5d6bf5659ea5e55df028c   HOF
2  60c5d6bf5659ea5e55def377   HOF
3  60c5d6bf5659ea5e55def4c7   NOT
4  60c5d6bf5659ea5e55df01a6   HOF

In [21]:
df_ans.to_csv('tfidf_overall.csv',index=False)
df_ans.head(20)

                         _id label
0   60c5d6bf5659ea5e55deffcb   HOF
1   60c5d6bf5659ea5e55df028c   HOF
2   60c5d6bf5659ea5e55def377   HOF
3   60c5d6bf5659ea5e55def4c7   NOT
4   60c5d6bf5659ea5e55df01a6   HOF
5   60c5d6bf5659ea5e55def837   HOF
6   60c5d6bf5659ea5e55def6ec   NOT
7   60c5d6bf5659ea5e55def29e   NOT
8   60c5d6bf5659ea5e55defa01   HOF
9   60c5d6bf5659ea5e55def464   HOF
10  60c5d6bf5659ea5e55df020f   HOF
11  60c5d6bf5659ea5e55defb48   NOT
12  60c5d6bf5659ea5e55def1a8   HOF
13  60c5d6bf5659ea5e55defc80   HOF
14  60c5d6bf5659ea5e55defc3e   HOF
15  60c5d6bf5659ea5e55def2e2   HOF
16  60c5d6bf5659ea5e55defbd6   HOF
17  60c5d6bf5659ea5e55defc41   HOF
18  60c5d6bf5659ea5e55df0176   NOT
19  60c5d6bf5659ea5e55df027b   HOF

In [22]:
res= pred_rft.tolist()
for i in range(len(res)):
    if (res[i] == 0):
        res[i]='HOF'
    else:
        res[i]='NOT'
        
df_ans['label'] = pd.Series(res)
df_ans.head()

                        _id label
0  60c5d6bf5659ea5e55deffcb   HOF
1  60c5d6bf5659ea5e55df028c   HOF
2  60c5d6bf5659ea5e55def377   HOF
3  60c5d6bf5659ea5e55def4c7   NOT
4  60c5d6bf5659ea5e55df01a6   HOF

In [23]:
df_ans.to_csv('tfidf_rft.csv',index=False)
df_ans.head(20)

                         _id label
0   60c5d6bf5659ea5e55deffcb   HOF
1   60c5d6bf5659ea5e55df028c   HOF
2   60c5d6bf5659ea5e55def377   HOF
3   60c5d6bf5659ea5e55def4c7   NOT
4   60c5d6bf5659ea5e55df01a6   HOF
5   60c5d6bf5659ea5e55def837   HOF
6   60c5d6bf5659ea5e55def6ec   HOF
7   60c5d6bf5659ea5e55def29e   NOT
8   60c5d6bf5659ea5e55defa01   HOF
9   60c5d6bf5659ea5e55def464   NOT
10  60c5d6bf5659ea5e55df020f   NOT
11  60c5d6bf5659ea5e55defb48   NOT
12  60c5d6bf5659ea5e55def1a8   HOF
13  60c5d6bf5659ea5e55defc80   HOF
14  60c5d6bf5659ea5e55defc3e   HOF
15  60c5d6bf5659ea5e55def2e2   HOF
16  60c5d6bf5659ea5e55defbd6   HOF
17  60c5d6bf5659ea5e55defc41   HOF
18  60c5d6bf5659ea5e55df0176   NOT
19  60c5d6bf5659ea5e55df027b   HOF

In [24]:
res= pred_svm.tolist()
for i in range(len(res)):
    if (res[i] == 0):
        res[i]='HOF'
    else:
        res[i]='NOT'
        
df_ans['label'] = pd.Series(res)
df_ans.head()

                        _id label
0  60c5d6bf5659ea5e55deffcb   HOF
1  60c5d6bf5659ea5e55df028c   NOT
2  60c5d6bf5659ea5e55def377   NOT
3  60c5d6bf5659ea5e55def4c7   NOT
4  60c5d6bf5659ea5e55df01a6   HOF

In [25]:
df_ans.to_csv('tfidf_svm.csv',index=False)
df_ans.head(20)

                         _id label
0   60c5d6bf5659ea5e55deffcb   HOF
1   60c5d6bf5659ea5e55df028c   NOT
2   60c5d6bf5659ea5e55def377   NOT
3   60c5d6bf5659ea5e55def4c7   NOT
4   60c5d6bf5659ea5e55df01a6   HOF
5   60c5d6bf5659ea5e55def837   HOF
6   60c5d6bf5659ea5e55def6ec   NOT
7   60c5d6bf5659ea5e55def29e   NOT
8   60c5d6bf5659ea5e55defa01   HOF
9   60c5d6bf5659ea5e55def464   HOF
10  60c5d6bf5659ea5e55df020f   HOF
11  60c5d6bf5659ea5e55defb48   NOT
12  60c5d6bf5659ea5e55def1a8   NOT
13  60c5d6bf5659ea5e55defc80   NOT
14  60c5d6bf5659ea5e55defc3e   HOF
15  60c5d6bf5659ea5e55def2e2   HOF
16  60c5d6bf5659ea5e55defbd6   HOF
17  60c5d6bf5659ea5e55defc41   HOF
18  60c5d6bf5659ea5e55df0176   NOT
19  60c5d6bf5659ea5e55df027b   HOF